.todo-list {
  max-width: 800px;
  background-color: gray; 
  margin: 0 auto;
  padding: 15px 0 15px 0;
  height: calc(93vh - 30px);
  overflow-y: scroll;
}

.list-item {
  width: calc(100% - 60px);
  background-color: white;
  margin: 15px;
  padding: 15px;
  border-radius: 4px;
  display: flex;
}